* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: radial-gradient(circle at top, #0f2027, #000);
  color: #fff;
  height: 100vh;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 80px 20px;
}

header h1 {
  font-size: 48px;
  font-weight: 700;
}

header h1 span {
  color: #00ffd5;
}

.sub {
  letter-spacing: 4px;
  margin-top: 5px;
  color: #aaa;
}

main {
  margin-top: 60px;
}

main h2 {
  font-size: 36px;
  line-height: 1.3;
  margin-bottom: 25px;
}

.description {
  font-size: 18px;
  color: #ccc;
  max-width: 700px;
}

.actions {
  margin-top: 50px;
}

.btn {
  padding: 14px 36px;
  text-decoration: none;
  border-radius: 30px;
  margin-right: 15px;
  font-weight: 600;
}

.primary {
  background: #00ffd5;
  color: #000;
}

.secondary {
  border: 1px solid #00ffd5;
  color: #00ffd5;
}
